.introductorySection {
  position: relative;
  max-width: var(--site-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.introductorySection .leftContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 45%;
}

.introductorySection .rightContainer {
  position: relative;
  display: flex;
  max-width: 55%;
}

.introductorySection .rightContainer .backGradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 630px;
  height: 630px;
  background: radial-gradient(
    circle,
    rgba(251, 232, 108, 0.3) 0%,
    rgba(12, 12, 12, 0.5) 70%
  );
  z-index: -1;
}

.introductorySection .rightContainer img {
  max-width: 400px;
}

.introductorySection .rightContainer::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(12, 12, 12, 0.1) 0%,
    rgba(12, 12, 12, 1) 100%
  );
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .introductorySection {
    padding: 0 50px;
  }

  .introductorySection .leftContainer {
    max-width: 55%;
  }

  .introductorySection .rightContainer {
    position: absolute;
    transform: translateX(100px);
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .introductorySection .leftContainer {
    max-width: 50%;
  }
  .introductorySection .rightContainer .backGradient {
    width: 550px;
    height: 550px;
  }
}

@media only screen and (max-width: 819px) {
  .introductorySection .leftContainer {
    max-width: 48%;
  }

  .introductorySection .leftContainer .text {
    font-size: 13px;
  }

  .introductorySection .leftContainer .specialButton {
    font-size: 16px;
    padding: 15px 40px;
  }

  .introductorySection .rightContainer .backGradient {
    width: 520px;
    height: 520px;
  }
}

@media only screen and (max-width: 600px) {
  .introductorySection .rightContainer {
    transform: translateX(130px);
  }
}

@media only screen and (max-width: 450px) {
  .introductorySection {
    margin-bottom: 60px;
  }

  .introductorySection .rightContainer {
    display: none;
    top: 100px;
    right: 100px;
  }

  .introductorySection .leftContainer {
    max-width: 100%;
  }

  .introductorySection .rightContainer img {
    width: auto;
    height: 100%;
  }
}
