.separatorContainer {
  position: relative;
  z-index: 2;
}

.separatorContainer.marginTop {
  margin-top: 300px;
}

.separatorContainer.marginBottom {
  margin-bottom: 150px;
}

.separator {
  height: 15px;
  width: 105vw;
  background: var(--primary-color);
  -webkit-box-shadow: 0px 0px 50px 16px rgba(251, 232, 108, 1);
  -moz-box-shadow: 0px 0px 50px 16px rgba(251, 232, 108, 1);
  box-shadow: 0px 0px 30px 16px rgba(251, 232, 108, 1);
  transform: rotate(-15deg);
  filter: blur(3px);
}

@media only screen and (max-width: 900px) {
  .separatorContainer.marginTop {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .separatorContainer.marginTop {
    margin-top: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .separatorContainer.marginTop {
    margin-top: 150px;
  }

  .separatorContainer.marginBottom {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 450px) {
  .separatorContainer.marginBottom {
    margin-bottom: 50px;
  }
}
