.mobileNavContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  z-index: 10;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s 0.3s;
  opacity: 0;
  visibility: hidden;
}

.mobileNavContainer.active {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s;
}

.mobileNavContainer .navWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  max-height: 500px;
}
