.navElement {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  transition: color 0.3s ease-out;
}

.navElement:hover {
  color: var(--primary-color);
}

.navElement.footer {
  font-size: 14px;
  color: var(--primary-color);
}

.navElement.footer:hover {
  color: var(--secondary-color);
}
