.sliderArrow {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 100%;
  color: var(--background-color);
  cursor: pointer;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderArrow.negative {
  color: var(--primary-color);
  background: var(--background-color);
}
