@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background-color: #0c0c0c;
  --primary-color: #fbe86c;
  --secondary-color: #fff4f4;
  --site-width: 1200px;
}

/* Stylowanie dla całego scrolla */
::-webkit-scrollbar {
  width: 6px; /* Szerokość scrolla */
}

/* Stylowanie dla paska przewijania */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Kolor scrolla */
  border-radius: 50px; /* Zaokrąglenie scrolla */
  box-shadow: 0 0 20px var(--primary-color); /* Efekt blur */
}

/* Stylowanie dla tracka (tło scrolla) */
::-webkit-scrollbar-track {
  background-color: #ffffff33; /* Kolor tracka */
  border-radius: 50px; /* Zaokrąglenie tracka */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--secondary-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
