.achievementTile {
  width: fit-content;
  max-width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.achievementTile img {
  width: 170px;
  height: auto;
}

.achievementTile .tileText {
  font-size: 13px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
}
